discord.py==2.3.2
Pillow==10.2.0
PyMySQL[ed25519]==1.1.0
yookassa==3.0.1
aiohttp[speedups]==3.9.3
fastapi==0.110.0
uvicorn[standard]==0.27.1
MinePI==0.5.0
aio-mc-rcon==3.2.2
python-dateutil==2.9.0.post0
aiofiles==23.2.1
dynaconf==3.2.4