discord.py==2.4.0
Pillow==10.4.0
PyMySQL[ed25519]==1.1.1
yookassa==3.3.0
aiohttp[speedups]==3.10.3
fastapi==0.112.0
uvicorn[standard]==0.30.5
MinePI==0.5.0
aio-mc-rcon==3.2.2
python-dateutil==2.9.0.post0
aiofiles==24.1.0
dynaconf==3.2.6
mcstatus==11.1.1